<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  #search-inp {
    border-radius: 0.7rem;
    width: 300px;
  }

  @media (max-width: 768px) {
    #search-inp {
      width: 150px;
    }
  }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
   
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top px-3">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/listing">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Nav -->
      <div class="navbar-nav me-3">
        <a class="nav-link" href="/listing">Explore</a>
      </div>

      <!-- Search stays visible always -->
      <form class="d-flex me-auto" role="search" action="/listing/search" method="GET">
        <input
          type="search"
          name="query"
          class="form-control me-2"
          id="search-inp"
          placeholder="Search Destination"
          aria-label="Search"
        />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!-- Right Nav collapses -->
      <div class="navbar-nav ms-md-auto">
        <a class="nav-link" href="/listing/new">Add Your Home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
